In [45]:
# Import statements
import yfinance as yf
import pandas as pd
import os
import numpy as np
from datetime import date
from pathlib import Path

from price_data_pull_yfinance import gethistoricalOHLC, saveHistStockData, loadHistDataFromDisk


from global_vars import dataPathToOHLC, pathToMasterDF, float16Cols, float32Cols

masterDF = pd.DataFrame(columns=['TICKER', 'FIRST_DATE_OHLC', 'LAST_DATE_OHLC', 'FILEPATH'])

ImportError: cannot import name 'loadHistDataFromDisk' from 'price_data_pull_yfinance' (c:\Users\phili\Google Drive\Code_for_bothComputers\PythonStockMarketEvalTool\PythonStockScreener\code\price_data_pull_yfinance.py)

In [16]:
# save the master_df_to_file
masterDF.to_csv(pathToMasterDF, index = False)

In [17]:
masterDF

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [4]:
h_MSFT = gethistoricalOHLC('MSFT')
h_AAPL_short = gethistoricalOHLC('AAPL',end_date='2015-12-31')
h_AAPL_long = gethistoricalOHLC('AAPL')

In [10]:
h_MSFT.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1999-12-31,37.31250,37.40625,36.90625,37.06250,12517600.0,0.0,0.0
1,2000-01-03,37.28125,37.68750,35.56250,37.03125,53228400.0,0.0,0.0
2,2000-01-04,36.06250,37.18750,35.65625,35.78125,54119000.0,0.0,0.0
3,2000-01-05,35.28125,36.96875,34.75000,36.15625,64059600.0,0.0,0.0
4,2000-01-06,35.62500,36.15625,34.40625,34.93750,54976600.0,0.0,0.0

In [18]:
saveHistStockData('MSFT',h_MSFT)

True

In [7]:
masterDF

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [19]:
test = pd.read_csv(pathToMasterDF)

In [20]:
test

,TICKER,FIRST_DATE_OHLC,LAST_DATE_OHLC,FILEPATH
0,MSFT,0,5327,C:\Users\phili\Google Drive\Code_for_bothCompu...

In [39]:

def loadHistDataFromDisk(ticker, database = None,pathToDF = pathToMasterDF, online_search = True):
    '''tries to load data from disk, if available. 
    In case it does not work, it tries to pull the data from yahoo finance.
    Full docu to be written '''
    # TODO #4

    assert isinstance(ticker, str), f'Ticker should be a string but is actually of type {type(ticker)}'

    if database is None:       
        try:
            database = pd.read_csv(pathToMasterDF)
            print(database.head())
        except:
            print(f"could not open the database dataframe. Looking for a csv under the file location {pathToDF}")
    
    if ticker in database['TICKER'].values:

        pathToFile = database.loc[database['TICKER']=='AAPL', 'FILEPATH'].values[0]

        tickerDF = pd.read_feather(pathToFile)
    else:
        print("Could not find the files you requested!")
        if online_search == True:
            print("Try pulling the data from yfinance!")
            try:
                tickerDF = gethistoricalOHLC(ticker)
            except:
                print("Could not load the data from yfinance!")
        

    return tickerDF

In [40]:
AAPL_hist = loadHistDataFromDisk('AAPL')

  TICKER FIRST_DATE_OHLC LAST_DATE_OHLC  \
0   MSFT      1999-12-31     2018-12-28
1   AAPL      1999-12-31     2021-03-05

                                            FILEPATH
0  C:\Users\phili\Google Drive\Code_for_bothCompu...
1  C:\Users\phili\Google Drive\Code_for_bothCompu...

In [41]:
AAPL_hist

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,0,1999-12-31,0.776367,0.791016,0.765137,0.790527,163811200.0,0.0,0.0
1,1,2000-01-03,0.806641,0.865234,0.782227,0.860840,535796800.0,0.0,0.0
2,2,2000-01-04,0.832520,0.850586,0.778320,0.788086,512377600.0,0.0,0.0
3,3,2000-01-05,0.797852,0.850098,0.791992,0.799805,778321600.0,0.0,0.0
4,4,2000-01-06,0.816406,0.822754,0.730469,0.730469,767972800.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5323,5323,2021-03-01,123.750000,127.937500,122.812500,127.812500,115998304.0,0.0,0.0
5324,5324,2021-03-02,128.375000,128.750000,125.000000,125.125000,102015296.0,0.0,0.0
5325,5325,2021-03-03,124.812500,125.687500,121.812500,122.062500,112430400.0,0.0,0.0
5326,5326,2021-03-04,121.750000,123.625000,118.625000,120.125000,177275296.0,0.0,0.0
5327,5327,2021-03-05,121.000000,121.937500,117.562500,121.437500,153590400.0,0.0,0.0

In [34]:
masterDF = pd.read_csv(pathToMasterDF);
masterDF

,TICKER,FIRST_DATE_OHLC,LAST_DATE_OHLC,FILEPATH
0,MSFT,1999-12-31,2018-12-28,C:\Users\phili\Google Drive\Code_for_bothCompu...
1,AAPL,1999-12-31,2021-03-05,C:\Users\phili\Google Drive\Code_for_bothCompu...

In [38]:
masterDF.loc[masterDF['TICKER']=='AAPL', 'FILEPATH'].values[0]

'C:\\Users\\phili\\Google Drive\\Code_for_bothComputers\\PythonStockMarketEvalTool\\PythonStockScreener\\01_data\\01_price_data\\AAPL'

In [32]:
masterDF

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []